@model Hochtief.Models.MainEquipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MainEquipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="itemno" class="control-label"></label>
                <input asp-for="itemno" class="form-control" />
                <span asp-validation-for="itemno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rowid" class="control-label"></label>
                <input asp-for="rowid" class="form-control" />
                <span asp-validation-for="rowid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formversion" class="control-label"></label>
                <input asp-for="formversion" class="form-control" />
                <span asp-validation-for="formversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activity" class="control-label"></label>
                <input asp-for="activity" class="form-control" />
                <span asp-validation-for="activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment01" class="control-label"></label>
                <input asp-for="equipment01" class="form-control" />
                <span asp-validation-for="equipment01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment01Contractor" class="control-label"></label>
                <input asp-for="equipment01Contractor" class="form-control" />
                <span asp-validation-for="equipment01Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment01Num" class="control-label"></label>
                <input asp-for="equipment01Num" class="form-control" />
                <span asp-validation-for="equipment01Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment01Hours" class="control-label"></label>
                <input asp-for="equipment01Hours" class="form-control" />
                <span asp-validation-for="equipment01Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment02" class="control-label"></label>
                <input asp-for="equipment02" class="form-control" />
                <span asp-validation-for="equipment02" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment02Contractor" class="control-label"></label>
                <input asp-for="equipment02Contractor" class="form-control" />
                <span asp-validation-for="equipment02Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment02Num" class="control-label"></label>
                <input asp-for="equipment02Num" class="form-control" />
                <span asp-validation-for="equipment02Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment02Hours" class="control-label"></label>
                <input asp-for="equipment02Hours" class="form-control" />
                <span asp-validation-for="equipment02Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment03" class="control-label"></label>
                <input asp-for="equipment03" class="form-control" />
                <span asp-validation-for="equipment03" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment03Contractor" class="control-label"></label>
                <input asp-for="equipment03Contractor" class="form-control" />
                <span asp-validation-for="equipment03Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment03Num" class="control-label"></label>
                <input asp-for="equipment03Num" class="form-control" />
                <span asp-validation-for="equipment03Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment03Hours" class="control-label"></label>
                <input asp-for="equipment03Hours" class="form-control" />
                <span asp-validation-for="equipment03Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment04" class="control-label"></label>
                <input asp-for="equipment04" class="form-control" />
                <span asp-validation-for="equipment04" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment04Contractor" class="control-label"></label>
                <input asp-for="equipment04Contractor" class="form-control" />
                <span asp-validation-for="equipment04Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment04Num" class="control-label"></label>
                <input asp-for="equipment04Num" class="form-control" />
                <span asp-validation-for="equipment04Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment04Hours" class="control-label"></label>
                <input asp-for="equipment04Hours" class="form-control" />
                <span asp-validation-for="equipment04Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment05" class="control-label"></label>
                <input asp-for="equipment05" class="form-control" />
                <span asp-validation-for="equipment05" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment05Contractor" class="control-label"></label>
                <input asp-for="equipment05Contractor" class="form-control" />
                <span asp-validation-for="equipment05Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment05Num" class="control-label"></label>
                <input asp-for="equipment05Num" class="form-control" />
                <span asp-validation-for="equipment05Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment05Hours" class="control-label"></label>
                <input asp-for="equipment05Hours" class="form-control" />
                <span asp-validation-for="equipment05Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment06" class="control-label"></label>
                <input asp-for="equipment06" class="form-control" />
                <span asp-validation-for="equipment06" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment06Contractor" class="control-label"></label>
                <input asp-for="equipment06Contractor" class="form-control" />
                <span asp-validation-for="equipment06Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment06Num" class="control-label"></label>
                <input asp-for="equipment06Num" class="form-control" />
                <span asp-validation-for="equipment06Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipment06Hours" class="control-label"></label>
                <input asp-for="equipment06Hours" class="form-control" />
                <span asp-validation-for="equipment06Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

