@model Hochtief.Models.Pds

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pds</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="LocL1" class="control-label"></label>
                <input asp-for="LocL1" class="form-control" />
                <span asp-validation-for="LocL1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocL2" class="control-label"></label>
                <input asp-for="LocL2" class="form-control" />
                <span asp-validation-for="LocL2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocL3" class="control-label"></label>
                <input asp-for="LocL3" class="form-control" />
                <span asp-validation-for="LocL3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdsL1" class="control-label"></label>
                <input asp-for="pdsL1" class="form-control" />
                <span asp-validation-for="pdsL1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdsL2" class="control-label"></label>
                <input asp-for="pdsL2" class="form-control" />
                <span asp-validation-for="pdsL2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdsL3" class="control-label"></label>
                <input asp-for="pdsL3" class="form-control" />
                <span asp-validation-for="pdsL3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdsL4" class="control-label"></label>
                <input asp-for="pdsL4" class="form-control" />
                <span asp-validation-for="pdsL4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pdsL5" class="control-label"></label>
                <input asp-for="pdsL5" class="form-control" />
                <span asp-validation-for="pdsL5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descr" class="control-label"></label>
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resp" class="control-label"></label>
                <input asp-for="Resp" class="form-control" />
                <span asp-validation-for="Resp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="path" class="control-label"></label>
                <input asp-for="path" class="form-control" />
                <span asp-validation-for="path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Master" class="control-label"></label>
                <input asp-for="Master" class="form-control" />
                <span asp-validation-for="Master" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </form>
    </div>
</div>


