@model Hochtief.Models.Weather

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Weather</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="temp_time" class="control-label"></label>
                <input asp-for="temp_time" class="form-control" />
                <span asp-validation-for="temp_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temp" class="control-label"></label>
                <input asp-for="temp" class="form-control" />
                <span asp-validation-for="temp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temp_condition" class="control-label"></label>
                <input asp-for="temp_condition" class="form-control" />
                <span asp-validation-for="temp_condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>



