@{
    ViewBag.Title = "HomeAdmin";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .card-pricing.popular {
        z-index: 1;
        border: 3px solid #007bff;
    }

    .card-pricing .list-unstyled li {
        padding: .5rem 0;
        color: #6c757d;
    }
    #admin {
        margin-right: 5px;
        margin-left: -35px;
    }
</style>
<div class="container mb-5 mt-5">
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing text-center px-3 mb-4">
            <img id="admin" src="~/images/administrator.png" alt="admin" width="40" height="40" />
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Login-Admin</span>
            <div class="bg-transparent card-header pt-4 border-0">

            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li> Klicken Sie auf Login dann Fertig !</li>
                </ul>
                <input type="button" value="Login" onclick="location.href='@Url.Action("FirstPage", "LayoutAdmin")'" />
            </div>
        </div>
        </div>
    </div>
