@model Hochtief.Models.DefinitionInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DefinitionInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projekt" class="control-label"></label>
                <input asp-for="projekt" class="form-control" />
                <span asp-validation-for="projekt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projektID" class="control-label"></label>
                <input asp-for="projektID" class="form-control" />
                <span asp-validation-for="projektID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sharepoint" class="control-label"></label>
                <input asp-for="sharepoint" class="form-control" />
                <span asp-validation-for="sharepoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sharepointListen" class="control-label"></label>
                <input asp-for="sharepointListen" class="form-control" />
                <span asp-validation-for="sharepointListen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spMain" class="control-label"></label>
                <input asp-for="spMain" class="form-control" />
                <span asp-validation-for="spMain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="frontendName" class="control-label"></label>
                <input asp-for="frontendName" class="form-control" />
                <span asp-validation-for="frontendName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updateDB" class="control-label"></label>
                <input asp-for="updateDB" class="form-control" />
                <span asp-validation-for="updateDB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backendPath" class="control-label"></label>
                <input asp-for="backendPath" class="form-control" />
                <span asp-validation-for="backendPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spBTBIntern" class="control-label"></label>
                <input asp-for="spBTBIntern" class="form-control" />
                <span asp-validation-for="spBTBIntern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spBTBExtern" class="control-label"></label>
                <input asp-for="spBTBExtern" class="form-control" />
                <span asp-validation-for="spBTBExtern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BTB_Excel_Template" class="control-label"></label>
                <input asp-for="BTB_Excel_Template" class="form-control" />
                <span asp-validation-for="BTB_Excel_Template" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


