@model Hochtief.Models.DefinitionProjectTables

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DefinitionProjectTables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="sptable" class="control-label"></label>
                <input asp-for="sptable" class="form-control" />
                <span asp-validation-for="sptable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accessTable" class="control-label"></label>
                <input asp-for="accessTable" class="form-control" />
                <span asp-validation-for="accessTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SqlTable" class="control-label"></label>
                <input asp-for="SqlTable" class="form-control" />
                <span asp-validation-for="SqlTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>








