
@{
    ViewData["Title"] = "Hochtief AG";
}
    <html>
    <head>
        <title>Hochtief-Management</title>
       </head>   
    <body>
        <div class="gridcontainer">
            <article>
                <h1 id="test"><strong> Herzlich Willkommen! </strong></h1>
                <img src="~/images/bild.png" alt="Photo von Hochtief Logo" />
            </article>
            <aside>Hochtief-Projekt Es kommt bald </aside>
            <footer>
                <div id="adress">
                    <p>
                        <h3>
                            Alfredstraße 236 <br>
                            45133 Essen
                            Deutschland
                        </h3>
                    </p>
                </div>
                <div id="foo"><small>&copy; Copyright 2020,Hochtief AG</small></div>
            </footer>
        </div>
     </body>
    </html>