@model Hochtief.Models.MainSignaturePhotos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MainSignaturePhotos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ReportID" class="control-label"></label>
                <input asp-for="ReportID" class="form-control" />
                <span asp-validation-for="ReportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignaturePhoto" class="control-label"></label>
                <input asp-for="SignaturePhoto" class="form-control" />
                <span asp-validation-for="SignaturePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedDate" class="control-label"></label>
                <input asp-for="SignedDate" class="form-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </form>
    </div>
</div>
