@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    #anrufen {
        float:right;
    }
</style>
<address>
    <img id="anrufen" src="~/images/anruf.png" alt="bildanrufen" width="100" height="80" />
    Alfredstraße 236<br />
    45133 Essen<br />
    <abbr title="Phone">Phone:</abbr>
    0201 8240
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>