@model Hochtief.Models.MainField2BIM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MainField2BIM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemno" class="control-label"></label>
                <input asp-for="itemno" class="form-control" />
                <span asp-validation-for="itemno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formversion" class="control-label"></label>
                <input asp-for="formversion" class="form-control" />
                <span asp-validation-for="formversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="starttime" class="control-label"></label>
                <input asp-for="starttime" class="form-control" />
                <span asp-validation-for="starttime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="completetime" class="control-label"></label>
                <input asp-for="completetime" class="form-control" />
                <span asp-validation-for="completetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userfirstname" class="control-label"></label>
                <input asp-for="userfirstname" class="form-control" />
                <span asp-validation-for="userfirstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userlastname" class="control-label"></label>
                <input asp-for="userlastname" class="form-control" />
                <span asp-validation-for="userlastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectDef" class="control-label"></label>
                <input asp-for="projectDef" class="form-control" />
                <span asp-validation-for="projectDef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="headerPds01" class="control-label"></label>
                <input asp-for="headerPds01" class="form-control" />
                <span asp-validation-for="headerPds01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="headerPds02" class="control-label"></label>
                <input asp-for="headerPds02" class="form-control" />
                <span asp-validation-for="headerPds02" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="headerPds03" class="control-label"></label>
                <input asp-for="headerPds03" class="form-control" />
                <span asp-validation-for="headerPds03" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="headerPds04" class="control-label"></label>
                <input asp-for="headerPds04" class="form-control" />
                <span asp-validation-for="headerPds04" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reportID" class="control-label"></label>
                <input asp-for="reportID" class="form-control" />
                <span asp-validation-for="reportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDate" class="control-label"></label>
                <input asp-for="ReportDate" class="form-control" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportStartTime" class="control-label"></label>
                <input asp-for="ReportStartTime" class="form-control" />
                <span asp-validation-for="ReportStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportEndTime" class="control-label"></label>
                <input asp-for="ReportEndTime" class="form-control" />
                <span asp-validation-for="ReportEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportBreakTimeNumeric" class="control-label"></label>
                <input asp-for="ReportBreakTimeNumeric" class="form-control" />
                <span asp-validation-for="ReportBreakTimeNumeric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeRang" class="control-label"></label>
                <input asp-for="timeRang" class="form-control" />
                <span asp-validation-for="timeRang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeHours" class="control-label"></label>
                <input asp-for="TimeHours" class="form-control" />
                <span asp-validation-for="TimeHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportHours" class="control-label"></label>
                <input asp-for="ReportHours" class="form-control" />
                <span asp-validation-for="ReportHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pds01" class="control-label"></label>
                <input asp-for="pds01" class="form-control" />
                <span asp-validation-for="pds01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pds01Desc" class="control-label"></label>
                <input asp-for="pds01Desc" class="form-control" />
                <span asp-validation-for="pds01Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempTime" class="control-label"></label>
                <input asp-for="TempTime" class="form-control" />
                <span asp-validation-for="TempTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </form>
    </div>
</div>

